<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="QuanlybanhangEntities" connectionString="metadata=res://*/QuanLyBanHang.csdl|res://*/QuanLyBanHang.ssdl|res://*/QuanLyBanHang.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-66RFOG7;initial catalog=Quanlybanhang;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="Quanlybanhang.Properties.Settings.QuanlybanhangConnectionString"
      connectionString="Data Source=APPLE3F59;Initial Catalog=Quanlybanhang;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="Quanlybanhang.Properties.Settings.QuanLyBanHangConnectionString1"
      connectionString="Data Source=DESKTOP-66RFOG7;Initial Catalog=QuanLyBanHang;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>